<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="HTTPModule" type="UndisReportCollector.HTTPModule" />
    </modules>
  </system.webServer>
  <appSettings>
    <add key="UndisLogLevel" value="INFO" />
    <add key="UndisLogsFolder" value="C:\Undis\Logs" />
    <add key="UndisReportInProgress" value="false" />
    <add key="UndisReportsFolder" value="C:\Undis\Reports" />
  </appSettings>
</configuration>